@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Add user Page</h1>

<div>
    <label for="username" id="username">User Name:</label>
    <input type="text" id="username" />
</div>
<div>
    <label for="email" id="email">Email:</label>
    <input type="text" id="email" />
</div>
<div>
    <label for="password" id="password">Password:</label>
    <input type="text" id="Password" />
</div>

